div #menuizquierda{
    float:left;
    background-color:darkgray;
    border: 1px solid;
    padding:2em;
    margin-top:2em;
    margin-left:2em;
}

#menuizquierda{
    margin-right:2em;
}

div #tutorial{
    padding-left:2em;
    
}

#compras {
    height: 32px;
    margin-top: -18px;
    padding-top: 19px;
    background-image: linear-gradient(#1e5799 60%, #1d368f 50%, #1e5799 60%);

}